{% extends "base.html" %}

{% block content %}

<h1 class="cover-heading">{{ title }}</h1>
    <p class="lead">
      <div class="col-sm-12 col-sm-offset-3"> 
		<form method="POST" action="."> {% csrf_token %}
					<!-- <input name="url" type="text" placeholder="Shorten your URL like http://www.roentgen.com"/> -->
					{{ form.as_p }}
			<input class="btn btn-primary" type="submit" value="Shorten">
		</form>
	  </div> 
    </p>

<div class="container">
	<div class="row">
		<div class="text-center">


			
		</div>
	</div>
</div>
{% endblock content %}